html,
body,
address,
blockquote,
div,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul,
dd,
dt,
li,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
del,
ins,
map,
object,
a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
dfn,
em,
i,
img,
kbd,
q,
samp,
small,
span,
strong,
sub,
sup,
tt,
var,
legend,
fieldset,
figure {
    margin: 0;
    padding: 0;
}

.col-4 {
    width: 33.3333%;
    float: left;
}

.col-8 {
    width: 66.6666%;
    float: left;
}

.col-3 {
    width: 25%;
    float: left;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Microsoft YaHei", "微软雅黑", "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
}

#wrap {}

#header {
    background-image: url("/images/background.svg");
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header-outer {
    width: 1080px;
    height: 90px;
    margin: 0 auto;
}

#header a {
    color: #337C6B;
    font-weight: 400;
    display: inline-block;
}

#header-title {
    float: left;
}

#header #logo {
    background-image: url(/images/logo_180.png);
    width: 300px;
    line-height: 80px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position-y: center;
    margin: 5px 5px;
    padding-left: 60px;
    font-size: 26px;
}

#header #subtitle-wrap {
    display: none;
}

#particles-js {
    background-color: #efefef;
}

.particles-js-canvas-el {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main {
    min-height: 500px;
    width: 1080px;
    margin: 0 auto;
    padding: 10px 0;
    z-index: 100;
}

.archives-header {
    font-size: 25px;
    margin: 20px 0 30px 40px;
    border-left: 5px solid #337C6B;
    padding-left: 20px;
}

.archives-header:after {
    content: "";
    width: 100px;
    height: 2px;
    line-height: 2px;
    color: #337C6B;
    display: block;
    position: absolute;
}

.archives-content {
    margin: 20px 40px;
    padding: 40px 40px;
    background: #ffffff;
    border-radius: 5px;
}

.archives-wrap {
    margin-bottom: 10px;
}

.archive-year-wrap {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 200;
}

.archive-year-wrap a {
    color: #928c8c;
}

.archive-article-header a:hover {
    text-decoration: underline;
}

.archive-article-header p,
.archive-article-header a,
.archive-article-header h1 {
    display: inline-block;
    color: #397C6B;
}

.archive-article-header a,
.archive-article-header h1 {
    padding-left: 20px;
    font-weight: 400;
}

.archives {
    margin-bottom: 20px;
}

.archive-article {
    line-height: 30px;
}

.article {
    background: #fff;
    border-radius: 8px;
    padding: 20px 50px;
}

.article-title {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    padding: 20px 0 20px 0;
}

.article-meta {
    margin-bottom: 20px;
    text-align: center;
    color: #959da5;
    font-size: 14px;
}
span{
    font-size: 10px;
    margin: 0 5px ;
}
.article-meta a,.tags a{
    color: #959da5;
}
.article-meta a:hover,.tags a:hover{
    text-decoration: underline;
}
.article-meta div{
    display: inline-block;
}
.article-meta time{
    margin-left: 20px;
}

.article-entry {
    margin: 30px 0;
}
.tags {    
    margin: 5px 0;
}
.tags ul{
    display: inline-block;
}
.article-tag-list-item{
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}
#article-nav{
    height: 60px;
    width: 100%;
    margin: 0 0 15px 0;
}
.article-nav-caption{
    font-weight: 400;
    line-height: 35px;
}
.article-nav-title{
    margin: 0 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article-nav-prev{
    float: left;
    width: 50%;
    text-align: left;
}
.article-nav-next{
    float: right;
    width: 50%;
    text-align: right;
    
}

#article-nav a{
    color: #397C6B;
}
#article-nav a:hover{
    text-decoration: underline;
}

#footer {
    background: #f5f6f5;
    font-size: 14px;
    color: #397C6B;
    text-align: center;
}

#footer a {
    color: #397C6B;
}

#footer a:hover {
    color: #7b7b7b;
}

#footer .outer {
    width: 1080px;
    margin: 0 auto;
}

#footer-info {
    padding: 10px 0;
}

