<% if (post.tags && post.tags.length){ %>
  <%- list_tags(post.tags, {
    show_count: false,
    class: 'article-tag'
  }) %>
<%}else{%>
<ul class="article-tag-list">
  <li class="article-tag-list-item">
    <a class="article-tag-list-link">暂无标签</a>
  </li>
</ul>
<% } %>